= form_for [:admin,@place, item],remote: true, :html => {:class => cycle('odd','even')} do |f|

  - if item.errors.any?
    #error_explanation
      %h2
        =pluralize(item.errors.count, "error") 
        prohibited this item from being saved:
      %ul
        - item.errors.full_messages.each do |msg|
          %li= msg

  .edit-item
    = f.text_field :name, :class => 'name'
    |
    = f.text_field :desc, :class => 'desc'
    |
    = f.text_field :price, :class => 'price', :value => item.price.to_i, :placeholder => 'Rs'
    |
    = f.text_field :cold_votes, :class => 'cold_votes'
    - if false
      %span.flag
        = f.check_box :seasonal
        = f.label :seasonal
    %span.flag
      = f.check_box :non_veg
      = f.label :non_veg
    |
    - @place.categories.each do |cat|
      = f.radio_button :category_id, cat.id
      = f.label cat.name
    - if @place.tags.present?
      |
      - @place.tags.each do |tag|
        = f.radio_button :tag, tag 
        = f.label tag.capitalize
    = hidden_field :item, :place_id, :value => @place.id

    |
    = link_to [:admin,@place,item],method: :delete, :confirm => 'Are you sure?' do
      = glyph 'remove'

    |

    .progress-spin.hidden
      Saving...


