= form_for [:admin,@place, @item], :html => { :class => 'form-horizontal form-model' } do |f|
  .form-group
    = f.label :name, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :name, :class => 'text-field form-control'

    = f.label :desc, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :desc, :class => 'text-field form-control'
      
    = f.label :price, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :price, :class => 'text-field form-control'

    = f.label :cold_votes, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :cold_votes, :class => 'text-field form-control'

    = hidden_field :item, :place_id, :value => @place.id

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to 'Cancel', [:admin,@place], :class => 'btn btn-default'
