%div{'ng-if'=>'items'}
  %h4 {{ category.name }}

  .items{'ng-repeat'=>'item in items'}

    %div{'ng-controller'=>'ItemCtrl','ng-click'=>'debugItem()'}
      %form{'action'=>"{{editUrl}}", 'data-remote'=>true,'method'=>'post'}
        %input{'name'=>"_method", 'type'=>"hidden" ,'value'=>"put"}
        .edit-item
          = text_field_tag 'item[name]','', :class => 'name','ng-model'=>'item.name'
          |
          = text_field_tag 'item[desc]','', :class => 'desc','ng-model'=>'item.desc'
          |
          = text_field_tag 'item[price]','', :class => 'price', :placeholder => 'Rs','ng-model'=>'item.price'
          |
          = text_field_tag 'item[cold_votes]','', :class => 'cold_votes','ng-model'=>'item.cold_votes'

          - if false
            %span.flag
              = check_box_tag 'item[seasonal]','1','ng-model'=>'item.seasonal'
              = label_tag 'name[seasonal]','Seasonal'
          %span.flag
            %input{'type'=>'checkbox','name'=>'item[non_veg]','ng-model'=>'item.non_veg','value'=>1}
            = label_tag 'item[non_veg]','Non Veg'
          |



          %select{'name'=>'item[category_id]','ng-model'=>'item.category_id', 'ng-options'=>'category.id as category.name for category in categories', 'ng-change'=>'showTopics()'}
            %option{}
              Select category
          %span{'ng-repeat'=>'category in categories'}
            %span.tags_list{'ng-if'=>"item.category_id==category.id"}
              %select{'name'=>'item[tag]','ng-model'=>'item.tag', 'ng-options'=>'tag as tag for tag in category.tags track by tag', 'ng-change'=>'showTopics()'}
                %option{'value'=>""}
                  Select tag
              .hidden
                %input{'name'=>'item[category_id]','value'=>"{{ category.id }}",'ng-if'=>'category.id'}

          = hidden_field_tag 'item[place_id]', @place.id

          |
          %a{"data-confirm" => "Are you sure?", "data-method" => "delete", href: "/admin/places/#{@place.id}/items/{{item.id}}", rel: "nofollow"}
            %span.glyphicon.glyphicon-remove
          |

          .progress-spin.hidden
            Saving...




