- model_class = Place
-  sorted_items = {}
-  @place.categories.by_position.each { |cat|  sorted_items[cat.id] = cat.items}


:javascript
  PageConfig = {
                categories: #{@place.categories.by_position.to_json({:methods => :tags_list})},
                items: #{@place.items.to_json},
                sorted_items: #{sorted_items.to_json}
                }

.col-xs-12
  #heading
    %span.name=@place.name
    %span.cuisines= @place.cuisines.join(', ')
    %span.short-address= "( #{@place.short_address} )"
    %span.actions
      = link_to 'Take Notes', [:notes, :admin, @place], :class => 'btn btn-primary'
  .updated-item.alert-success.alert-dismissable
  .updated-item-progress.alert-danger.alert-dismissable

  - if @place.disabled
    .alert.alert-warning
      This place has been disabled.
      = link_to 'Edit this place to enable', [:edit,:admin,@place]


  #items
    .row.col-xs-12

      #items
        .items-header
          %span.title Items
          = link_to 'Add Item', [:new,:admin,@place,:item]
        %div{'ng-controller'=>'CategoriesCtrl'}
          %div{'ng-repeat'=>'category in categories', 'ng-controller'=>'CategoryCtrl'}
            = render 'category_items'


      #categories
        %h3 Categories
        = link_to 'Add Category', [:new,:admin,@place,:category]
        - @place.categories.each do |category|
          .category
            %span.name=category.name
            %span.position=category.position
            %span.num_items
              = "(#{category.items.count} items)"
            %span.name
              = link_to [:edit,:admin,@place,category], :class => 'btn btn-xs' do
                = glyph 'pencil'
              - unless category.items.present?
                = link_to [:admin,@place,category], :class => 'btn btn-xs', method: :delete do
                  = glyph 'remove'

  = image_tag @place.image_url if @place.image?


  .form-group
    = link_to 'Back', [:admin,:places], :class => 'btn btn-default'
    = link_to 'Edit', [:edit,:admin,@place], :class => 'btn btn-default'
    = link_to 'Destroy', [:admin,@place], :method => 'delete', :data => { :confirm => t('.confirm',
    :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

