- model_class = Place
.col-xs-12
  #heading
    %span.name=@place.name
    %span.short-address= "( #{@place.short_address} )"
    %span.actions
      = link_to 'Take Notes', [:notes, :admin, @place], :class => 'btn btn-primary'
  .updated-item.alert-success.alert-dismissable
  .updated-item-progress.alert-danger.alert-dismissable




  #items
    .row.col-xs-12
      #items
        .items-header
          %span.title Items
          = link_to 'Add Item', [:new,:admin,@place,:item]

        - @place.ordered_items.each do |cat_id, items|
          = render :partial => 'category_items', :locals => {:category_name => @place.categories.find(cat_id).name, :items => items}
        = render :partial => 'category_items', :locals => {:category_name => 'Uncategorized', :items => @place.uncategorized_items}


      #categories
        %h3 Categories
        = link_to 'Add Category', [:new,:admin,@place,:category]
        - @place.categories.each do |category|
          .category
            %span.name=category.name
            %span.position=category.position
            %span.cold_votes
              ( CV
              =category.cold_votes
              )
            %span.name
              = link_to [:edit,:admin,@place,category], :class => 'btn btn-xs' do
                = glyph 'pencil'
              = link_to [:admin,@place,category], :class => 'btn btn-xs', method: :delete do
                = glyph 'remove'

      - if false
        .col-md-6
          = render 'admin/items/form'

  = image_tag @place.image_url if @place.image?


  .form-group
    = link_to 'Back', [:admin,:places], :class => 'btn btn-default'
    = link_to 'Edit', [:edit,:admin,@place], :class => 'btn btn-default'
    = link_to 'Destroy', [:admin,@place], :method => 'delete', :data => { :confirm => t('.confirm',
    :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

