.col-xs-12.item
  .col-xs-9
    %p.name=item.name
    %p.desc= item.desc
    %p.price
      - if item.price
        %i.fa.fa-inr
        = item.price
      - else
        %span.muted
          Price Not Available
    - friend_likes = current_user.friends_like_item(item)
    - if friend_likes.present?
      %p.friend_likes
        - friend_likes.each do |friend|
          = image_tag friend.provider_pic,alt: 'fb pic',class: 'fb-pic'
        ="#{friend_likes.count} friend likes"
  .col-xs-3
    %p.votes
      = item.total_votes
      %span Likes
    - if current_user.voted_for? item
      %p.like_it
        = image_tag 'unlike.png',alt: 'Unlike button',class: 'unlike'
    - else
      %p
        = link_to vote_place_item_path(@place,item) do
          = image_tag 'like.png',alt: 'Like button',class: 'like'

