- css_id = "item_#{item.id}"
.col-xs-12.item{id: css_id}
  .col-xs-12
    .col-xs-10
      %p.name
        =item.name
        %span.price
          - if item.price.present?
            %i.fa.fa-inr
            = item.price

        - if item.desc.present?
          %span.desc
            %a.more{role: 'link'}
              More info
              %i.fa.fa-angle-down

            %a.less{role: 'link'}
              Less info
              %i.fa.fa-angle-up

    .col-xs-2
      %p.votes
        = item.total_votes
        - if current_user.voted_for? item
          %p.like_it
            = link_to unvote_place_item_path(@place,item),remote: true, method: :post do
              = image_tag 'unlike.png',alt: 'Unlike button',class: 'unlike'
        - else
          %p.like_it
            = link_to vote_place_item_path(@place,item),remote: true, method: :post do
              = image_tag 'like.png',alt: 'Like button',class: 'like'

  - if item.desc.present?
    .col-xs-12.item_desc
      %p.desc= item.desc

  - friend_likes = current_user.friends_like_item(item)
  - if friend_likes.present?
    .col-xs-12.fb_info
      %p.friend_likes
        - friend_likes.first(2).each do |friend|
          = image_tag friend.provider_pic,alt: 'fb pic',class: 'fb-pic'

        - if friend_likes.count < 2
        - elsif friend_likes.count > 2
          and
          = link_to "#{ friend_likes.count - 2 } other",'#fb_friends'
        #{'friend'.pluralize(friend_likes.count)} like this

- if item.desc.present? or friend_likes.present?
  :scss
    .item#{css_id}
      .col-xs-12:first-child {
        border-bottom: 1px solid #ddd;
      }
