.col-xs-12.item
  .col-xs-12
    .col-xs-9
      %p.name
        =item.name
        %span.price
          - if item.price
            %i.fa.fa-inr
            = item.price

    .col-xs-3{id: "item_#{item.id}"}
      %p.votes
        = item.total_votes
        - if current_user.voted_for? item
          %p.like_it
            = link_to unvote_place_item_path(@place,item),remote: true, method: :post do
              = image_tag 'unlike.png',alt: 'Unlike button',class: 'unlike'
        - else
          %p.like_it
            = link_to vote_place_item_path(@place,item),remote: true, method: :post do
              = image_tag 'like.png',alt: 'Like button',class: 'like'

  - if item.desc.present?
    .col-xs-12.item_desc
      %p.desc= item.desc

  - friend_likes = current_user.friends_like_item(item)
  - if friend_likes.present?
    .col-xs-12.fb_info
      %p.friend_likes
        - friend_likes.each do |friend|
          = image_tag friend.provider_pic,alt: 'fb pic',class: 'fb-pic'
        ="#{friend_likes.count} friend likes"
