.row-fluid.list
  - places.each do |place|
    .col-xs-12.list-item{place: place.id}
      .col-xs-12
        .col-xs-10.place-name
          %h4= link_to place.name,place

        .col-xs-2.place-distance
          %span
            = place.distance.round(2)
            KMS

      .col-xs-12
        .col-xs-7.place-info
          - if place.short_address.present?
            .col-xs-12.address
              %span
                %i.fa.fa-map-marker
                = place.short_address

          - if place.cuisines.present?
            .col-xs-12.cuisines
              %span
                -#%i.fa.fa-cutlery
                = place.cuisines_list

        .col-xs-5.friend-likes
          - friend_likes = current_user.friends_like_place(place)
          - if friend_likes.present?
            %span Liked by
            - friend_likes.last(2).each do |f|
              = image_tag f.provider_pic,alt: 'fb pic',class: 'fb-pic'


      - top_items = place.top(4)
      - if top_items.present?
        .col-xs-12.top-item
          - top_item = top_items.first
          %span.votes
            %span= top_item.total_votes
            Likes
          %span.item-name= top_item.name.titleize

          - if top_items.size > 1
            %p.more-top-items
              %span Also known for:
              = top_items.last(3).collect {|i| i.name }.join(', ').titleize

:javascript
  $('.list .list-item').click(function() {
    window.location = '/places/'+ $(this).attr('place') ;
  });

