.row#places_index
  .col-xs-12#places
    = render 'header'

    .content
      .center-block
        %p Searching for yummy food
        .preloader
          %span
          %span
          %span
          %span
          %span

  .first-time-user.col-xs-12
    .step-box.col-xs-12
      = image_tag 'step1.png',alt: 'Step 1'
      %span Tell us where you are.
    .step-box.col-xs-12
      = image_tag 'step2.png',alt: 'Step 2'
      %span Discover yummy food.
    .col-xs-12
      %h2 It's that simple!
    .col-xs-12
      %button{type: 'button', class: 'got-it btn btn-success btn-block'}
        Ok. Got it!


  = render 'manual_location'

= render 'places_js'
