.row#places_index
  .col-xs-12#places
    .header
      .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
        .container
          .navbar-header
            .col-xs-2
              %a.navbar-brand{:href => "/"}
                = image_tag 'logo.png',alt: 'SocialEater logo'
            .col-xs-8
              %p.headline What's good around you ?
            .col-xs-2
              %div.userpic.dropdown
                %a#Menu1{"data-toggle" => "dropdown"}
                  = image_tag current_user.provider_pic,alt: 'profile pic'
                  %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "Menu1", :role => "menu"}

                  %li{:role => "presentation"}
                    = link_to destroy_user_session_path, :method => :delete, :role => "menuitem", :tabindex => "-1" do
                      %i.fa.fa-user
                      Logout

      = bootstrap_flash

      .filter
        .col-xs-12.btn-group.loc-group
          .col-xs-11
            %button.btn.btn-default.btn-block.btn-loc{:type => "button"}
              %i.fa.fa-map-marker
              %span
                Updating your address...
                %i.fa.fa-spin.fa-spinner
          .col-xs-1
            %button.btn.btn-default.btn-block.update-loc{:type => "button"}
              %i.fa.fa-refresh

        .col-xs-12
          .col-xs-8
            %input{type: 'text', class: 'form-control search-input', placeholder: 'Eg: Biriyani, Mexican, Chutneys'}
            = render 'search_modal'

          .col-xs-4.filter-params
            .btn-group{"data-toggle" => "buttons"}
              %label.btn.btn-default.active
                %input#option1{:name => "options", :type => "radio"}
                  Relevance
              %label.btn.btn-default
                %input#option2{:name => "options", :type => "radio"}
                  %i.fa.fa-arrow-up
                  KMS

    .content
      .center-block
        %p Updating the list based on your location ...
        %i.fa.fa-spin.fa-circle-o-notch

      -#= render 'place', places: @places

#selectLocation.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %center
          %h4.modal-title Select your Location

      .modal-body
        = select_tag "location", options_for_select(@localities[:names]), class: 'form-control', prompt: 'Select the location'

      .modal-footer
        %center
          = button_tag type: 'button', class: 'btn btn-primary manual-loc' do
            %i.fa.fa-check
            Set Location

= render 'places_js'
