.row#places_index
  .col-xs-12#places
    .header
      .navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
        .container
          .navbar-header
            %a.navbar-brand{:href => "/"}
              = image_tag 'logo.png',alt: 'SocialEater logo'
            %form{:role => "form"}
              %input.form-control{:placeholder => "Search Restaurants", :type => "text",:id => "search_places",:name => "query",class: 'search'}
            %div.userpic.dropdown
              %a#Menu1{"data-toggle" => "dropdown"}
                = image_tag current_user.provider_pic,alt: 'profile pic'
                %span.caret
              %ul.dropdown-menu{"aria-labelledby" => "Menu1", :role => "menu"}
                -#%li{:role => "presentation"}
                  = link_to edit_user_registration_path, :role => 'menuitem', :tabindex => '-1' do
                    %i.fa.fa-cog
                    Settings

                -#%li.divider{:role => "presentation"}
                %li{:role => "presentation"}
                  = link_to destroy_user_session_path, :method => :delete, :role => "menuitem", :tabindex => "-1" do
                    %i.fa.fa-user
                    Logout

      = bootstrap_flash

    .content
      %ul.list-group.list
        - @places.each do |place|
          %li.list-group-item{place: place.id}
            %h4.name= link_to place.name,place
            %span.address
              - if place.short_address.present?
                %i.fa.fa-map-marker
                = place.short_address
              - else
                %i.fa.fa-map-marker
                Address

      -#%center
        %ul.pagination

:javascript
  $('.list-group').delegate('li','click',function() {
    window.location = '/places/'+ $(this).attr('place') ;
  });

  var placesList = new List(
    'places',
    {
      valueNames: [ 'name', 'address' ]
      //page: 10,
      //plugins: [
      //  ListPagination({})
      //]
    }
  );
