= render 'header_styles', image_info: @place.image_url(:thumb)

.row#places_show
  .col-xs-12
    .header
      .col-xs-1
        = link_to places_path, class: 'back-link btn btn-default' do
          %i.fa.fa-angle-left

      .col-xs-11
        %h2=@place.name
        %p
          - if @place.phone.present?
            %i.fa.fa-phone
            = @place.phone
        %p
          - if @place.short_address.present?
            %i.fa.fa-map-marker
            = @place.short_address

    .divider
      .col-xs-7
        - if @place.cuisines.present?
          %p= @place.cuisines.join(', ').upcase

      .col-xs-5
        %p.show-veg show only veg
        %p.show-all.hidden show all
        .roundedOne
          %input#roundedOne{:name => "check", :type => "checkbox", :value => "None"}
          %label{:for => "roundedOne"}

    .content
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#top5", :role => "tab"}
            %i.fa.fa-heart
            Popular
            %span.fa.fa-caret-up

        - @place.populated_categories.each do |category|
          %li
            %a{"data-toggle" => "tab", :href => "##{category.id}", :role => "tab"}
              = category.name
              %span.fa.fa-caret-up

      .tab-content

        #top5.tab-pane.fade.in.active
          - WinnerList.new(@place).list.each do |cat_id, items|
            .row
              - category = Category.find(cat_id)
              %h4.winner= category.name
              - items.each do |item|
                = render 'item',item: item

        - @place.ordered_items.each do |cat_id, items|
          - category = Category.find(cat_id)
          %div.tab-pane{id: "#{category.id}"}
            - act_tag =  category.tag_hash.keys.first
            - if category.tag_hash.size > 1
              %ul.nav.nav-tabs{:role => "tablist"}
                - category.tag_hash.each do |tag, items|
                  - if items.present?
                    %li{class: (act_tag == tag)? 'active' : false}
                      %a{"data-toggle" => "tab", :href => "##{tag + category.id.to_s}", :role => "tab"}= tag.titleize

              .tab-content
                - category.tag_hash.each do |tag, items|
                  %div.tab-pane{id: "#{tag + category.id.to_s}",class: (act_tag == tag)? 'active' : false}
                    - if items.present?
                      - items.each do |item|
                        .row
                          = render 'item',item: item
            - else
              .no-tags
                - items.each do |item|
                  .row
                    = render 'item', item: item

