.row#places_show
  .col-xs-12
    .header
      .col-xs-12
        .col-xs-1
          = link_to places_path, class: 'back-link' do
            %i.fa.fa-angle-left
        .col-xs-11
          %h2=@place.name
          %span Address

    .content
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#top5", :role => "tab"} Top 5
        - @place.populated_categories.each do |category|
          %li
            %a{"data-toggle" => "tab", :href => "##{category.id}", :role => "tab"}
              = category.name
        - if @place.uncategorized_items.present?
          %li
            %a{"data-toggle" => "tab", :href => "#uncategorized", :role => "tab"} Uncategorized

      .tab-content
        #top5.tab-pane.fade.in.active
          /%h4.heading Top Dishes
          - @place.top(5).each do |item|
            .row
              = render 'item',item: item

        - @place.ordered_items.each do |cat_id, items|
          - category = Category.find(cat_id)
          %div.tab-pane{id: "#{category.id}"}
            /%h4.heading= category.name
            - items.each do |item|
              .row
                = render 'item', item: item

        - if @place.uncategorized_items.present?
          #uncategorized.tab-pane
            /%h4.heading Uncategorized
            - @place.uncategorized_items.each do |item|
              .row
                = render 'item',item: item
