= render 'header_styles', image_info: @place.image_url(:thumb)

.row#places_show
  .col-xs-12
    .header
      .col-xs-12
        = link_to places_path, class: 'back-link btn btn-default' do
          %i.fa.fa-angle-left
      .col-xs-12
        %h2=@place.name
        %p
          - if @place.phone.present?
            %i.fa.fa-phone
            = @place.phone
        %p
          - if @place.short_address.present?
            %i.fa.fa-map-marker
            = @place.short_address

    .content
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#top5", :role => "tab"}
            %i.fa.fa-trophy
            %span.fa.fa-caret-up

        - @place.populated_categories.each do |category|
          %li
            %a{"data-toggle" => "tab", :href => "##{category.id}", :role => "tab"}
              = category.name
              %span.fa.fa-caret-up

      .tab-content
        - if false
          #top5.tab-pane.fade.in.active
            - @place.top(1).each do |item|
              .row
                %h4.tab-header
                  People
                  %i.fa.fa-heart

                = render 'item',item: item

        #top5.tab-pane.fade.in.active
          .row
            %h4.tab-header
              People
              %i.fa.fa-heart
          - WinnerList.new(@place).list.each do |cat_id, items|
            - category = Category.find(cat_id)
            %h6= category.name
            - items.each do |item|
              = render 'item',item: item

        - @place.ordered_items.each do |cat_id, items|
          - category = Category.find(cat_id)
          %div.tab-pane{id: "#{category.id}"}
            - act_tag =  category.tag_hash.keys.first
            - if category.tag_hash.size > 1
              %ul.nav.nav-tabs{:role => "tablist"}
                - category.tag_hash.each do |tag, items|
                  - if items.present?
                    %li{class: (act_tag == tag)? 'active' : false}
                      %a{"data-toggle" => "tab", :href => "##{tag}-tag", :role => "tab"}= tag

              .tab-content
                - category.tag_hash.each do |tag, items|
                  %div.tab-pane{id: "#{tag}-tag",class: (act_tag == tag)? 'active' : false}
                    - if items.present?
                      - items.each do |item|
                        .row
                          = render 'item',item: item
            - else
              .no-tags
                - items.each do |item|
                  .row
                    = render 'item', item: item

