!!!
%html{"ng-app" => "eaterApp"}
  %head
    %title Eater beta - Discover awesome food around you
    = stylesheet_link_tag    "application", media: "all"
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false", :type => "text/javascript"}
    = javascript_include_tag "application"
    = favicon_link_tag 'favicon.png', :rel => 'shortcut icon'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    .container-fluid
      = yield
    -#.desktop
      = render 'shared/desktop'

